body{
    background: url(https://80d2853cc4def76b377d-54344bc01a8b066c84096a8e7a3499ac.ssl.cf1.rackcdn.com/original/903397.JPG);
    background-repeat: no-repeat;
    background-size: auto;
}
.opaque{
    background-color:rgba(255,255,255,0.3);
    height:100%;
}